<main>
  <div class="user-container">
    <div class="container-cadastro">
      <h1>Cadastrar-se</h1>

      <div class="form-cadastro">
        <form (ngSubmit)="cadastrar()">

          <input [(ngModel)]="user.email" type="email" id="email" name="email" required placeholder="Email"/>

          <input [(ngModel)]="user.password" type="password" id="password" name="password" required placeholder="Senha"/>
          <a routerLink="/login">Já tem uma conta? Faça login</a>
          <button type="submit">Enviar</button>
        </form>
      </div>
    </div>

    
  </div>
</main>
