<main>
  <div class="user-container">
<div class="container-login">
      <h1>Login</h1>

      <div class="form-login">
        <form
        (ngSubmit)="login(credentials)">
          <input [(ngModel)]="credentials.email" type="email" id="email" name="email" required placeholder="Email"/>

          <input [(ngModel)]="credentials.password" type="password" id="password" name="password" required placeholder="Senha"/>
          <a routerLink="/sign">Não tem uma conta? Cadastre-se</a>
          <button type="submit">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</main>
